/* DummyAd.css */
.dummy-ad-vertical {
    display: inline-block;
    width: 160px;
    height: 600px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
    color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* DummyAd.css */
.dummy-ad-large {
    display: inline-block;
    width: 336px;
    height: 280px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
  /* Centers the text vertically */
    font-size: 24px;
    color: #666;
  }
  
  