/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'ITC Eras Std';
    src: url('./ITC-Eras-Std.woff2') format('woff2'),
         url('./ITC-Eras-Std.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'ITC Eras Std', sans-serif;
  }
  